/******************************************************************************\
|* Variables
\******************************************************************************/

:root {
  --bg-color: #FFFFFF;
  --main-text-color: #333333;
  --pop-color: rgb(255, 85, 0);
  --pop-text-color: #FFFFFF;
  --pop-color-translucent: rgba(255, 85, 0, 0.8);
  --medium-color: #555555;
  --faint-color: #BBBBBB;
  --very-faint-color: #EEEEEE;

  --display-font: "Raleway", sans-serif;
  --display-font-weight: 700;

  --body-font: "Roboto", sans-serif;
  --body-font-weight: 400;

  --main-nav-width: 300px;
  --spacing: 50px;
  --content-margin-l: calc(var(--main-nav-width) + var(--spacing));
  --content-max-width: 650px;

  --portfolio-items-per-row: 3;

  --element-spacing: 0.5em;
  --normal-border-radius: 5px;
  --special-width: 80%;
  --special-margin: calc(2 * var(--element-spacing)) auto;
}

/* 1050px = main-nav-width + content-max-width + 2 * spacing */
@media(max-width: 1050px) {
  :root {
    --portfolio-items-per-row: 2;
  }
}

@media(max-width: 750px) {
  :root {
    --portfolio-items-per-row: 1;
  }
}

/******************************************************************************\
|* Animations
\******************************************************************************/

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand-line {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    left: -10%;
    width: 120%;
  }
}

/******************************************************************************\
|* General
\******************************************************************************/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--body-font);
  font-weight: var(--body-font-weight);
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display-font);
  font-weight: var(--display-font-weight);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

/* http://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

.fancy-underline {
  position: relative;
  text-decoration: none;
}

.fancy-underline:hover {
  text-decoration: none;
}

.fancy-underline:before {
  content: "";

  width: 100%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 0;

  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s cubic-bezier(0.20, 1, 0.20, 1) 0s;
}

.fancy-underline.header:before {
  background-color: var(--pop-text-color);
}

.fancy-underline.body:before {
  background-color: var(--main-text-color);
}

.fancy-underline.body.active:before {
  background-color: var(--pop-color);
}

.fancy-underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/******************************************************************************\
|* Root
\******************************************************************************/

.root {
  height: 100%;
  background-color: var(--main-text-color);
  color: var(--pop-text-color);
  overflow: hidden;
}

#bg {
  position: absolute;
  z-index: -101;

  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, hsl(12, 100%, 50%), hsl(12, 100%, 15%));
  background-color: #FF5500;
}

#voronoi {
  position: absolute;
  z-index: -100;
}

#root-center {
  width: 100%;
  font-family: var(--display-font);
  font-weight: 300;
  font-size: 2rem;
  text-align: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  opacity: 0;
  animation: 1s linear 0.1s forwards appear;
}

.root h1 {
  display: inline-block;
  font-size: 5rem;
}

#fancy-line {
  height: 2px;
  background-color: var(--pop-text-color);
  margin: 0.5rem 0 1rem 0;
  opacity: 0.25;

  position: relative;

  left: 50%;
  width: 0;
  animation: 1s ease-in-out 1.2s forwards expand-line;
}

.fancy-nav li {
  display: inline-block;
  margin: 0 20px;
}

@media(max-width: 750px) {
  .fancy-nav li {
    display: block;
    margin: 10px;
  }
}

/******************************************************************************\
|* Main Nav
\******************************************************************************/

.main-nav {
  width: var(--main-nav-width);
  color: var(--main-text-color);

  position: fixed;
  top: var(--spacing);
  left: var(--spacing);
  bottom: var(--spacing);
}

@media(max-width: 1050px) {
  .main-nav {
    position: static;
    width: var(--content-max-width);
    margin: var(--spacing) auto;
  }
}

@media(max-width: 750px) {
  .main-nav {
    width: auto;
    margin: var(--spacing);
  }
}

.main-nav h1 {
  font-size: 1.5rem;
  line-height: 2.5rem; /* to match .content h1 line-height */
  margin-bottom: 20px;
}

.main-nav ul {
  list-style-type: none;
}

.main-nav li {
  display: block;
  margin: 1rem 0;
}

@media(max-width: 1050px) {
  .main-nav li {
    display: inline-block;
    margin: 0 1rem;
  }
}

@media(max-width: 750px) {
  .main-nav li {
    display: block;
    font-size: 1.2rem;
    margin: 1rem;
  }
}

.main-nav a.active {
  color: var(--pop-color);
  font-weight: bold;
}

/******************************************************************************\
|* Content
\******************************************************************************/

.content {
  max-width: var(--content-max-width);
  margin: var(--spacing);
  margin-left: var(--content-margin-l);
  color: var(--main-text-color);
}

@media(max-width: 1050px) {
  .content {
    width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 750px) {
  .content {
    width: auto;
    margin: var(--spacing);
  }
}

.content.portfolio {
  max-width: none;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/******************************************************************************\
|* Portfolio
\******************************************************************************/

.portfolio-projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio-projects a {
  --item-margin: 5px;
  --inner-margins: calc(2 * var(--portfolio-items-per-row) * var(--item-margin));
  --outer-margins: calc(var(--content-margin-l) + var(--spacing));
  --available-space: calc(100vw - var(--outer-margins) - var(--inner-margins));
  --item-size: calc(var(--available-space) / var(--portfolio-items-per-row));

  width: var(--item-size);
  height: var(--item-size);
  margin: var(--item-margin);

  display: block;
  border-radius: 50%;
  border: 1px solid var(--faint-color);
  padding: 10px;
  overflow: hidden;
  position: relative;

  /* Fix for bug where sliding panel isn't clipped properly */
  /* Source: https://stackoverflow.com/a/16681137 */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media(max-width: 1050px) {
  .portfolio-projects a {
    --available-space: calc(var(--content-max-width) - var(--inner-margins));
  }
}

@media(max-width: 750px) {
  .portfolio-projects a {
    --available-space: calc(100vw - 2 * var(--spacing));
  }
}

.portfolio-projects img {
  width: 100%;
  border-radius: 50%;
}

.portfolio-projects h3 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.portfolio-projects .secondary {
  background-color: var(--pop-color-translucent);
  color: var(--pop-text-color);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 0.4s;
}

.portfolio-projects a:hover .secondary {
  transform: translateY(0%);
}

.portfolio-projects .secondary > div {
  width: 100%;
  text-align: center;
  padding: 15px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/******************************************************************************\
|* Blog
\******************************************************************************/

.blog ul {
  list-style-type: none;
  font-size: 1.2rem;
}

.blog li {
  margin: 10px 0;
}

.blog .date {
  display: inline-block;
  color: var(--faint-color);
  width: 175px;
}

@media(max-width: 750px) {
  .blog .date {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

/******************************************************************************\
|* Post
\******************************************************************************/

.post {
  line-height: 1.5rem;
}

.post h2 {
  font-size: 1.7rem;
}

.post h3 {
  font-size: 1.3rem;
}

  .post p
, .post li
, .post h2
, .post h3
, .post h4
, .post h5
, .post h6
{
  margin: var(--element-spacing) 0;
}

.post ul {
  list-style-type: disc;
}

.post ol {
  list-style-type: decimal;
}

.post li {
  margin-left: 3rem;
}

.post a {
  color: var(--pop-color);
}

.post figure {
  width: var(--special-width);
	margin: var(--special-margin);

  padding: 10px;
  border: 1px solid var(--main-text-color);
  border-radius: var(--normal-border-radius);
}

.post figure img {
  width: 100%;
  border-radius: var(--normal-border-radius);
}

.post figure figcaption {
  text-align: center;
  padding: 5px;
  border: 1px solid var(--pop-color);
  border-radius: var(--normal-border-radius);
}

.post table {
  width: var(--special-width);
  margin: var(--special-margin);

  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  border-collapse: collapse;
	border-spacing: 0;
}

.post thead {
  background-color: var(--very-faint-color);
}

  .post th
, .post td
{
  padding: 10px;
  border: 1px solid var(--main-text-color);
}

.post blockquote {
  background-color: var(--very-faint-color);
  border-left: 10px solid var(--pop-color-translucent);
  padding: 10px;
}

.post blockquote p {
  margin: 0;
}

.post blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
}

.post-footer {
  padding-top: 10px;
  border-top: 1px solid var(--faint-color);
  text-align: center;
}

.post-footer a {
  color: var(--pop-color);
}
