{{> head class="root"}}
  <script src="/assets/js/rhill-voronoi-core.min.js"></script>
  <script src="/assets/js/voronoi.js"></script>

  <div id="bg"></div>
  <canvas id="voronoi"></canvas>

  <div id="root-center">
    <h1>
      <span>{{sitename}}</span>
      <div id="fancy-line"></div>
    </h1>
    <nav class="fancy-nav">
      <ul>
        {{#each main-links}}
          <li>
            <a href="{{this.href}}" class="fancy-underline header">
              {{this.title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
{{> end}}
