{{> head class="root"}}
  <script>
    window.onload = function () {
      var bg = document.getElementById("bg");
      var rootCenter = document.getElementById("root-center");
      var fancyLine = document.getElementById("fancy-line");

      var url = "/assets/img/blur.jpg";
      var img = new Image();

      img.onload = function () {
        bg.style.backgroundImage = "url(" + url + ")";
        bg.style.opacity = "1";
        rootCenter.style.opacity = "1";
        fancyLine.style.width = "120%";
        fancyLine.style.left = "-10%";
      }

      img.src = url;
    }
  </script>
  <div id="bg">
  </div>
  <div id="root-center">
    <h1>
      <span>{{sitename}}</span>
      <div id="fancy-line"></div>
    </h1>
    <nav class="fancy-nav">
      <ul>
        {{#each main-links}}
          <li>
            <a href="{{this.href}}">
              {{this.title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </div>
{{> end}}
